/* Master styles */
body {
	font-family: 'Varela Round', sans-serif;
	margin: 0px;
}

.content-wrapper-pro {
	margin: 0 auto;
	width: 1500px;
}

.container {
	display: grid;
	grid-template-columns: 1fr;

}

/* Nav styles */
.nav-wrapper {
	display: flex;
	background-color: lightgreen;
	justify-content: space-between;
	padding: 38px;
}

.left-side {
	display: flex;
}

.nav-wrapper > .left-side > div {
	margin-right: 20px;
	font-size: 0.9em;
	text-transform: uppercase;
}

.nav-link-wrapper {
	color: #000000;
	height: 22px;
	border-bottom: 1px solid transparent;
	transition: border-bottom 0.5s;
}

.active-nav-link {
  border-bottom: 1px solid black;
}

.active-nav-link a {
  color: black !important;
}

.nav-link-wrapper a {
	color: #8a8a8a;
	text-decoration: none;
	transition: color 0.5s;
}

.nav-link-wrapper:hover {
	border-bottom: 1px solid black;
}

.nav-link-wrapper a:hover {
	color: black;
}

.brand a {
	color: black;
	text-decoration: none;
}
/* Portfolio styles */

.portfolio-items-wrapper {
  display: grid;    
  grid-template-columns: repeat(auto-fit, minmax(800px, 1fr));
  grid-template-rows: repeat(2, 500px);  
}

.portfolio-item-wrapper {
	position: relative;
}


.portfolio-img-background {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 500px;
	width: 100%;
}

.img-text-wrapper {
	position: absolute;
	top: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
	text-align: center;
	padding-left: 250px;
	padding-right: 100px;
}

.logo-wrapper img {
	width: 50%;
	margin-bottom: 20px;
}

.img-text-wrapper .subtitle {
	transition: 1s;
	font-weight: 600;
	color: transparent;
}

.img-text-wrapper:hover .subtitle {
	font-weight: 600;
	color: lightseagreen;
}

.img-darken {
	transition: 1s;
	filter: brightness(10%);
}

/* about me section */
.two-column-wrapper {
	display: grid;    
  	grid-template-columns: repeat(auto-fit, minmax(750px, 1fr));
  	grid-template-rows: repeat(1, 500px);  
}

.single-column-wrapper {
	position: relative;
}

.profile-image-wrapper img{
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 500px;
	width: relative;
}

.profile-content-wrapper {
	height: 500px;
	width: relative;
}

.scrolling-effect ul{
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: row;
	width: relative;
	overflow-x: auto;
}

.scrolling-effect li {
  flex: 0 0 auto;
  width: 600px;
  height: 400px;
}
